.wrapper {
  height: 100%;
  background: pink;
  padding: 2rem;
}

.videoContainer {
  height: 640px;
  width: 360px;
  overflow: hidden;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}